[include]
    path = ~/.git_account
[includeIf "gitdir:~/.config/nvim/"]
    path = ~/.config/nvim/.gitconfig
[includeIf "gitdir:/home/kongjun/projects/organics/"]
    path = ~/.git_account.dh
[core]
	pager = delta
	editor = nvim
	quotepath = false
	autocrlf = input
[interactive]
    diffFilter = delta --color-only --features=interactive
[add.interactive]
	useBuiltin = false # required for git 2.37.0
[delta]
	theme = GitHub
    side-by-side = true
	line-numbers = true
	navigate = true    # use n and N to move between diff sections
	light = true
[merge]
	tool = nvim
	prompt = false
	conflictStyle = diff3
[pull]
	ff = only
[init]
	defaultBranch = main
[credential]
	helper = store
[commit]
	verbose = true
[diff]
	submodule = log
	colorMoved = default
[difftool]
	prompt = false
	trustExitCode = true
[status]
	submodulesummary = 1
[push]
	default = simple
	recurseSubmodules = check
    autoSetupRemote = true
[alias]
	s = status
    a = add
    la = log --pretty=oneline --all --graph --decorate
	aa = add -A
	co = checkout
	br = branch
	ci = commit
	st = status
	rs = restore
    rb = rebase
    mg = merge
    ph = push
    phf = push --force-with-lease
    # git change-commits GIT_AUTHOR_NAME "old name" "new name"
    # git change-commits GIT_AUTHOR_EMAIL "old@email.com" "new@email.com" HEAD~10..HEAD
	change-commits = "!f() { VAR1=$1; VAR='$'$1; OLD=$2; NEW=$3; echo \"Are you sure for replace $VAR  $OLD => $NEW ?(Y/N)\";read OK;if [ \"$OK\" = 'Y' ] ; then shift 3; git filter-branch  --env-filter \"if [ \\\"${VAR}\\\" = '$OLD' ]; then export $VAR1='$NEW';echo 'to $NEW'; fi\" $@; fi;};  f "
    # add trackedly modified files
    add-modified= "!f() { git diff --name-only | xargs git add; }; f"

[clean]
	requireForce = false
[gc]
	auto = 0 # see https://donatstudios.com/yagni-git-gc
[log]
	date = format:%Y-%m-%d %H:%M:%S
