[Desktop Entry]
Name=QQ
Exec=/home/kongjun/.zsh/bin/qq.sh %U
Terminal=false
Type=Application
Icon=qq
StartupWMClass=QQ
Categories=Network;
Comment=QQ
